@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #0d1224, #1d1537);
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; 
  overflow-y: scroll; 
}

main {
  height: calc(100vh - 76px);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}


section{
  height: calc(100vh - 4rem);
}